.empty {
	visibility: hidden;
}

@media only screen and (orientation: portrait) {
	html {
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100vh;
		height: 100vw;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
}

#loading-page {
	display: flex;
	justify-content: center;
	height: 100%;
	color: rgb(12, 66, 12);
	font-size: 3em;
	text-align: center;
}

#loading-page figcaption {
	width: 800px;
}

#loading-page .loading-figure {
	margin: auto;
	display: block;
}

#periodic-table {
	display: none;
}

table {
	height: 100%;
	width: 100%;
	border-spacing: 0;
}

table h1 {
	max-height: 25px;
}

td {
	width: 4em;
	height: 4em;
	text-align: center;
	vertical-align: middle;
	border: outset;
	position: relative;
	border: 1px solid black;
}

th {
	min-height: 5em;  
	text-align: center;
	vertical-align: bottom;
	font-size:20
}

.Metal {
	background-color: burlywood;
}

.Ametal {
	background-color: aliceblue;
}

.Indefinido {
	background-color: antiquewhite;
}

.number {
	font-size: 1em;
	position: absolute;
	/* center the content for a parent with position: relative */
	top: 0;
	left: 0;
	right: 0;
}

.symbol {
	font-size: 1.5em;
}

/* Dialog */

#Dialog {
	visibility:hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin-left: 0;
	position: absolute;   
	top: 0;
   background: #FFFFFF;
   font-size: 44;
   border: solid;
}


#background {
		height:100%; 
		width:100%; 
		position:absolute;
		background-color:white;
}

#instructions {
	position: absolute;
	top: 10vh;
	left: 35vw;
	border: 1px solid black;
	width: 200px;
	height: 100px;
	background-color: #548235;
}

#instructions .center {
	color: white;
	font-size: 1.5em;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}