.empty {
	visibility: hidden;
}

@media only screen and (orientation: portrait) {
	html {
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100vh;
		height: 100vw;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
}

* {
	margin: 0;
	border: 0;
	padding: 0;
	border-spacing: 0;
}

table {
	height: 100%;
	width: 100%;
}

table h1 {
	max-height: 25px;
}

td {
	width: 5em;
	height: 5em;
	text-align: center;
	vertical-align: middle;
	border: outset;
	position: relative;
}

th {
	min-height: 5em;  
	text-align: center;
	vertical-align: bottom;
	font-size:20
}

.blue {background-color:lightgray}
.aliceblue {background-color:aliceblue;}
.orange {background-color:orange;}
.darkseagreen {background-color:darkseagreen;}
.yellow {background-color:yellow;}
.white {background-color:#FFFFFF;}
.white-color {color: white;border:none;}
.cursive span {font-family: "Brush script MT";}

.Metal {
	background-color: orange;
}

.Semimetal {
	background-color: green;
}

.Ametal {
	background-color: yellow;
}

.Nobre {
	background-color: gray;
}

.number {
	font-size: 1em;
	position: absolute;
	/* center the content for a parent with position: relative */
	top: 0;
	left: 0;
	right: 0;
}

.symbol {
	font-size: 1.5em;
}

td {
	border: 1px solid black;
}

/* Dialog */

#Dialog {
	visibility:hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1010px;
	height: 480px;
	margin-left: 254px;
	position: absolute;   
	top: 160px;
   background: #FFFFFF;
   font-size: 60;
   border: solid;
}

#background {
		height:100%; 
		width:100%; 
		position:absolute;
		background-color:white;
}