.empty {
	visibility	: hidden;
}		
table h1 {
	max-height:25px;
}
td {
	min-width: 4em;
text-align: center;
	vertical-align: center;
	border: outset;
}
th {
min-height: 5em;  
text-align: center;
	vertical-align: bottom;
	font-size:20
}
.blue {background-color:lightgray}
.aliceblue {background-color:aliceblue;}
.orange {background-color:orange;}
.darkseagreen {background-color:darkseagreen;}
.yellow {background-color:yellow;}
.white {background-color:#FFFFFF;}
.white-color {color: white;border:none;}
.cursive span {font-family: "Brush script MT";}
